.footer {
  background-color: var(--linear-blue);
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 40px 60px;
}
.container {
  margin-top: 80px;
  background-color: var(--header-bg);
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0 90px;
  gap: 40px;
  flex-wrap: wrap;
  /* z-index: -1;
  position: relative; */
}

.newsletter {
  flex: 1;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter p {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.email-subscribe {
  display: flex;
  margin-bottom: 20px;
}

.email-subscribe input {
  background-color: var(--header-bg);
  padding: 10px;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  color:white;
}

.email-subscribe button {
  padding: 10px 20px;
  background-color: var(--orang);
  border: none;
  color: white;
  border-radius: 5px;
}

.social-icons a {
  margin-right: 15px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
  position: relative;
}
.social-icons a:hover {
  filter: brightness(1) invert(0);
}

.videos {
  flex: 1;
}

.video-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.video-item img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.duration {
  font-size: 12px;
  color: #94a3b8;
  margin: 0;
}

.view-all {
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
}
.footer-end {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 120px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1 1 220px;
  margin: 10px;
}

.footer-column h3,
.footer-column h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ccc;
}

.help-btn {
  background-color: #374151;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.footer-categories {
  padding: 20px 0;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
.footer-categories #first {
  width: 22;
  height: 22;
  gap: 20px;
  margin-bottom: 10px;
}
.footer-categories #second {
  width: 22;
  height: 22;
  gap: 20px;
}
.gray-line {
  border: none;
  height: 1px;
  background-color: #666;
  margin: 30px 0;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
}

.footer-bottom p {
  font-size: 13px;
  color: #888;
}

.payments img {
  width: 60px;
  margin-right: 20px;
}
