#sec2,
.card {
  display: flex;
}
.container2 {
  width: 97%;
  margin: auto;
}
.heading {
  width: 100%;
  font-size: 25px;
  color: aliceblue;
  margin: 15px 0px;
}
.part1 {
  width: 32%;
  display: inline-block;
  margin-right: 10px;
}
.part1 img {
  width: 97%;
}
.part2,
.part3 {
  width: 32%;
  margin: 10px 5px;
  display: inline-block;
  font-size: 12px;
}
.cardimg img {
  width: 100%;
}
.cardimg {
  width: 33%;
  float: left;
}
p,
h2 {
  color: aliceblue;
}
/* #card2 ,#card4{
    background-color: aqua;
}
#card2  img,#card4 img {
    width:90%;
} */
.part3 .card {
  padding-top: -15px;
}
#card2 .cardimg,
#card4 .cardimg {
  width: 38%;
}
.clear {
  clear: both;
}
#sec3 {
  display: flex;
}
.container3 {
  width: 100%;
}
.heading3 {
  font-size: 25px;
  color: aliceblue;
  padding: 15px 0px;
  width: 90%;
  margin: auto;
}
.heading3 p {
  display: inline-block;
}
.leftwiew {
  width: 20%;
  float: right;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
}
.leftwiew p {
  display: inline-block;
}
.leftwiew img {
  margin: 25px 10px;
  width: 4%;
  height: 4%;
}
.part31 {
  width: 100%;
}
.card3 {
  width: 18%;
  display: inline-block;
  font-size: 12px;
  margin: 15px 40px;
  /* background-color:  rgb(51, 61, 76); */
  border-radius: 10px;
}
.cardimg3 img {
  width: 60%;
  margin-left: 40px;
}
.cardbody3 {
  width: 100%;
}
.cardbody3 h2 {
  display: inline;
}

#button {
  float: right;
}
