.sec1 {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
}
.right-photo {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-radius: 16px;
  margin-top: 25px;
  margin-left: 20px;
  background: var(--linear-blue);
}
.button {
  background-color: var(--orang);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  font-size: 20px;
}
.headphone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 70px;
  height: 300px;
}
.feel {
  color: var(--font-light);
  font-size: 19px;
}
.head {
  color: white;
  font-size: 72px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.icon {
  display: flex;
  flex-direction: row;
  color: white;

  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 200px;
}
.icon .content {
  color: var(--font-light);
  line-height: 30px;
}

.photo {
  width: 86px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
